// colors
$cyan: hsl(193, 38%, 86%);
$neon: hsl(150, 100%, 66%);
$g-blue: hsl(217, 19%, 38%);
$dg-blue: hsl(217, 19%, 24%);
$d-blue: hsl(218, 23%, 16%);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');
$manrope: 'Manrope', sans-serif;