@use 'config' as *;

body {
   font-family: $manrope;
   font-size: 24px;
   color: $cyan;
   background-color: $d-blue;
}

#advice {
   position: relative;
   transform: translateY(25vh);
   margin: 0 auto;
   border-radius: 10px;
   min-width: 400px;
   width: fit-content;
   max-width: 600px;
   padding: 30px;
   padding-bottom: 50px;
   min-height: 150px;
   background-color: $dg-blue;
   text-align: center;

   box-shadow: 0px 2.8px 3.6px rgba(0, 0, 0, 0.045), 0px 7.6px 10px rgba(0, 0, 0, 0.063), 0px 18.4px 24.1px rgba(0, 0, 0, 0.081), 0px 61px 80px rgba(0, 0, 0, 0.14);

   #advice-id {
      font-size: .65em;
      color: $neon;
      text-transform: uppercase;
      letter-spacing: 3.5px;
      font-weight: 600;
   }
   
   #advice-text {
      padding: 0 5px;
      word-wrap: break-word;
      font-weight: 800;
   }

   & > img {
      width: 100%;
   }

   .mobile {
      display: none;
   }

   button {
      background-color: $neon;
      outline: 0;
      border: 0;
      padding: 20px;
      border-radius: 100%;
      position: absolute;
      bottom: -30px;
      right: 50%;
      cursor: pointer;
      transform: translateX(50%);

      &:hover {
         animation: neon 2.5s ease-in-out;
      }

   }
}

@keyframes neon {
   0% {
      box-shadow: 0px 0px 7.5px hsla(150, 100%, 66, 0.349), 0px 0px 14.5px hsla(150, 100%, 66, 0.4), 0px 0px 22.4px hsla(150, 100%, 66, 0.427), 0px 0px 38.8px hsla(150, 100%, 66, 0.449), 0px 0px 125px hsla(150, 100%, 66, 0.47);
   }
   50% {
      box-shadow: 0px 0px 7.5px hsla(150, 100%, 66, 0.349), 0px 0px 14.5px hsla(150, 100%, 66, 0.4), 0px 0px 22.4px hsla(150, 100%, 66, 0.427), 0px 0px 38.8px hsla(150, 100%, 66, 0.449), 0px 0px 125px hsla(150, 100%, 66, 0.47);
   }
   90% {
      box-shadow: 0px 0px 7.5px hsla(150, 100%, 66, 0.349), 0px 0px 14.5px hsla(150, 100%, 66, 0.4), 0px 0px 22.4px hsla(150, 100%, 66, 0.427), 0px 0px 38.8px hsla(150, 100%, 66, 0.449), 0px 0px 125px hsla(150, 100%, 66, 0.47);
   }
   100% {
      box-shadow: none;
   }
}